<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/css/form.css" />
    <link rel="stylesheet" href="../assets/css/sidebar.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- CSS only -->

    <title>REGISTRO DE VEHÍCULOS</title>
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../assets/img/logo.png" alt="logo" />
          </span>

          <div class="text logo-text">
            <span class="name">Nombre generico</span>
            <span class="profession">App powered by Electron JS</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="index.html">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="pag2.html">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
                <span class="text nav-text">Registrar</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bell icon"></i>
                <span class="text nav-text">Mis vehiculos</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-pie-chart-alt icon"></i>
                <span class="text nav-text">Analytics</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-heart icon"></i>
                <span class="text nav-text">Likes</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-wallet icon"></i>
                <span class="text nav-text">Wallets</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#" id="salir">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Salir</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="text">
        <form class="form-register" id="formVehiculo">
          <h4>Formulario Registro de vehiculo</h4>

          <input
            class="controls"
            type="text"
            name="placa"
            id="placa"
            placeholder="Ingrese número de placa"
          />

          <input
            class="controls"
            type="text"
            name="marca"
            id="marca"
            placeholder="Ingrese marca de vehículo"
          />

          <input
            class="controls"
            type="text"
            name="combustible"
            id="combustible"
            placeholder="Combustible del vehículo"
          />

          <input
            class="controls"
            type="text"
            name="año"
            id="año"
            placeholder="año de vehículo"
          />

          <input
            class="controls"
            type="text"
            name="modelo"
            id="modelo"
            placeholder="modelo"
          />

          <button class="botons">Guardar Vehículo</button>
        </form>
      </div>
    </section>

    <script src="../scripts/vehiculo.js"></script>
    <script src="../assets/extras/sidebar.js"></script>
    <script src="../scripts/salir.js"></script>
  </body>
</html>
