<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/css/form.css" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./partials/links.js"></script>

    <title>REGISTRO DE VEHÍCULOS</title>
  </head>
  <body>
    <script src = './partials/navbar.js'></script>

    <section class="home">
      <div class="text">
        <h3>REGISTRO DE VEHICULOS</h3>
        <form class="form-register" id="formVehiculo">
          <h4>Formulario Registro de vehiculo</h4>

          <input
            class="controls"
            type="text"
            name="placa"
            id="placa"
            placeholder="Ingrese número de placa"
          />

          <input
            class="controls"
            type="text"
            name="marca"
            id="marca"
            placeholder="Ingrese marca de vehículo"
          />

          <input
            class="controls"
            type="text"
            name="combustible"
            id="combustible"
            placeholder="Combustible del vehículo"
          />

          <input
            class="controls"
            type="text"
            name="año"
            id="año"
            placeholder="año de vehículo"
          />

          <input
            class="controls"
            type="text"
            name="modelo"
            id="modelo"
            placeholder="modelo"
          />

          <button class="botons">Guardar Vehículo</button>
        </form>
      </div>
    </section>

    <script src="../scripts/vehiculo.js"></script>
    <script src="../assets/extras/sidebar.js"></script>
    <script src="../scripts/salir.js"></script>
  </body>
</html>
