<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="../assets/css/form.css" />
    <link rel="stylesheet" href="../assets/css/table.css">
    <script src="./partials/links.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <title>REGISTRO DE VEHÍCULOS</title>
  </head>
  <body>
    <!-- PARTIAL DE NAVBAR -->
    <script src = './partials/navbar.js'></script>

    <section class="home">
      <div class="text">
        <h1 id = 'titulo'></h1>
        <table id = 'listado'>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Costo</th>
              <th>Tipo</th>
              <th>Proxima fecha</th>
              <th>Descripción</th>
            </tr>
          </thead>
        </table>
        <a href="pag2.html">Pagina 2</a>
      </div>
      <div>
        
      </div>
    </section>

    <script src="../assets/extras/sidebar.js"></script>
    <script src="../scripts/salir.js"></script>
    <script src="../scripts/modificacionesDe.js"></script>
  </body>
</html>