<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <link rel="stylesheet" href="../assets/css/form.css" />
    <link rel="stylesheet" href="../assets/css/table.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css" />
    
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->

    <title>REGISTRO DE VEHÍCULOS</title>
  </head>
  <body>
    <!-- PARTIAL DE NAVBAR -->
    <script src = './partials/navbar.js'></script>

    <section class="home">
      <div class="text">
        <h1 id = 'titulo'>Ventana 4</h1>
        <table id = 'listado'>
          <thead>
            <tr>
              <th>Marca</th>
              <th>Combustible</th>
              <th>Modelo</th>
              <th>Año</th>
              <th>Modificaciones</th>
            </tr>
          </thead>
        </table>
        <a href="pag2.html">Pagina 2</a>
      </div>
    </section>

    <script src="../assets/extras/sidebar.js"></script>
    <script src="../scripts/salir.js"></script>
    <script src="../scripts/modificaciones.js"></script>
  </body>
</html>