<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../assets/css/formMantenimiento.css">

    <link rel="stylesheet" href="../assets/css/table.css" />

    <!-- INSERTAR ESTILOS GLOBALES -->
    <script src="./partials/links.js"></script>

    <title>Document</title>
  </head>
  <body>
    <script src="./partials/navbar.js"></script>
    <section class="home">
      <div class="text">
        <h1 id="titulo">Reparaciones realizadas</h1>
        <table id="listado">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Fecha</th>
              <th>Costo</th>
              <th>Tipo</th>
              <th>Proxima fecha</th>
              <th>Descripción</th>
            </tr>
          </thead>
        </table>

        
        
        <a href="pag2.html">Pagina 2</a>
      </div>
    </section>
    <script src="../scripts/modificaciones.js"></script>
  </body>
</html>
